.ItemCount{
  display: flex;
  align-items: center;
}
.parr1{
  margin-left: 10px;
  margin-right: 200px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.botones{
  background-color:darkcyan;
}
.recuadro{
  background-color: rgb(129, 134, 145);
  display: flex;
  flex-direction: column;
  border-top: solid 1px  black;
  border-right: solid 1px  black;
	border-bottom: solid 1px  black;
	border-left: solid 1px  black;;
  margin-bottom: 20px;
  margin-right: 86%;
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  
}
.recuadro-boton{
  margin-left: 40px;
}
.span1{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.titulos{
  font-family:'Courier New', Courier, monospace;
}
.navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #282c34;
    
      width: auto;
      height: auto;
   }
   .cardwiget{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #282c34;
    
}
.cardwiget2{
  display: flex;
  flex-direction:row;
  justify-content:flex-start;
  
}
   .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

.ErrorPage-bc{
  display: flex;
  background-color:rgb(149, 153, 179) ;
  justify-content: center;
}
.imgDeError{
  display: flex;
  justify-content: center;
}
.letraPortada{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.portada{
  display:flex;
  justify-content: right;
  background-color: #3d424e;
}
.tituloPortada{
 margin-left: -80px;
}

.cart{
  display: flex;
  margin-left: 60px;
  background-color: #3d424e;
}
.span2{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}